@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.containar{
    width: 1280px;
    margin: 0 auto;
}
nav{
   background-color: #2a0a82;
   position: absolute;
   width: 100%;
    padding: 16px;
}
.wapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 48px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
}
.menu ul a{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    transition: all linear 0.3s;
}
.menu ul a:hover{
    color: white;
}
.btn a{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    transition: all linear 0.3s;
    border: 2px solid #F4F6FC;
    border-radius: 41px;
    padding: 16px 48px;
}
.btn a:hover{
    background-color: bisque;
}
#banner{
    background-color: #2a0a82;
    padding: 218px 0 128px 0;
}
.banwapper{
    display: flex;
    align-items: center;
    column-gap: 60px;
}
.bancontent{
    width: 582px;
}
.bancontent h1{
    width: 582px;
    color: white;
    font-size: 54px;
    line-height: 74px;
    width: 600px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 24px;
}
.bancontent p{
    width: 562px;
    color: white;
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 48px;
}
.banbtn a{
    padding: 16px 56px;
    border-radius: 41px;
    background-color: rgba(252, 217, 128, 1);
    color: rgba(27, 28, 43, 1);
    font-size: 18px;
    line-height: 32px;
    font-weight: 600px;
    font-family: 'Manrope', sans-serif;
}
.banbtn a:nth-child(2){
    background-color: transparent;
    color: #fff;
}
.banimg{
    width: 638px;
}
#work{
    padding: 128px;
    background-color: #F4F6FC;
}
.workwapper{
    display: flex;
    column-gap: 142px;
}
.workhead{
    width: 405px;
    
}
.workhead h2{
    color: #282938;
    font-size: 48px;
    font-weight: 600px;
    line-height: 64px;
    font-family: 'Poppins', sans-serif;
    margin: 16px 0 8px 0;
    text-transform: capitalize;
}
.workhead p{
    color: #282938;
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
}
.workhead a{
    color: #2405F2;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;

}
.workcont {
    width: 656px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 77px;
}
.workmain{
    width: 50%;
}
.workmain h3{
    font-size: 32px;
    font-weight: 500px;
    line-height: 48px;
    font-family: 'Poppins', sans-serif;
    padding: 16px 0 8px 0;
}
.workmain p{
    font-size: 16px;
    font-weight: 500px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
}
#project{
    padding: 128px 0;
}
.proheadding{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.proheadding h4{
    font-size: 48px;
font-family: 'Poppins', sans-serif;
font-weight: 600;
line-height: 64px; 
color: var(--dark-blue, #282938);
}
.proheadding a{
    color: #282938;
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.proheadding a i{
    margin-left: 16px;
}
.prodetail{
    display: flex;
    margin-top: 64px;
    column-gap: 32px;

}
.bigpro{
    width: 843px;
    height: 600px;
    
    overflow: hidden;
    position: relative;
}
.bigpro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bigpro .overlay {
    width: 396px;
        height: 100%;
        background: linear-gradient(306deg, #1C1E53 0%, rgba(28, 30, 83, 0.42) 100%);
        position: absolute;
        top: 0;
    left: -396px;
    padding: 332px 0 76px 49px;
    transition: all linear 0.3s;

} 
.bigpro .overlay h4{
    color: var(--white, #FFF);
    font-family: 'Poppins', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px;

}
.bigpro .overlay p{
    color: var(--white, #FFF);
    font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
}
.bigpro .overlay a{
    color: var(--yellow, #FCD980);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.bigpro:hover .overlay{
    left: 0;

}
.smlpro{
    display: flex;
    flex-wrap: wrap;
    width: 405px;
    gap: 32px;
    
}
.item{
   width: 100%;
height: 284px;
overflow: hidden ;
position: relative;


}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item .overlay{
    padding: 129px 36px 45px 56px;
  position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(306deg, #1C1E53 0%, rgba(28, 30, 83, 0.42) 100%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all linear 0.3s;
    opacity: 0;
}
.item .overlay h4{
     width: 290px;
    color:  #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px;
margin-bottom: 16px;
}
.item .overlay a{
    color: var(--yellow, #FCD980);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;


}
.item:hover .overlay {
    opacity: 1;
}
#feature{
    padding: 128px 0;
    background-color: #F4F6FC;
}
.featurehead {
   text-align: center;
}
.featurehead h6{
    color: var(--dark-blue, #282938);
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
font-family: 'Poppins', sans-serif;
margin-bottom: 12px;
}
.featurehead h3{
   margin: 0 auto;
    width: 630px;
    color: var(--dark-blue, #282938);
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px; 
font-family: 'Poppins', sans-serif;
margin-bottom: 47px;

}
.featurewapper{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 32px;
}
.featureitem {
    width: 405px;
}
.featureitem img{
    margin-bottom: 22.08px;
}
.featureitem h4{
    color: var(--dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; 
margin-bottom: 12px;
}
.featureitem p{
    color: var(--dark-blue, #282938);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
font-family: 'Poppins', sans-serif;
}
